<!DOCTYPE html>
<html>
<head>
<style type="text/css">
div#container{width:1000px}
div#header {}
div#search {height:300px;width:300px;float:left;}
div#week {height:300px;width:350px;float:left;}
div#month {height:300px;width:350px;float:left;}
h1 {margin-bottom:0;}
h2 {margin-bottom:0;font-size:18px;}
ul {margin:0;}
li {list-style:none;}
</style>
</head>

<body>

<div id="container">

<div id="header" align="center">
<h1>Alpha</h1>
</div>

<div id="search">
<h1 align="left">Search</h1>
    <form method="post" action="/check">
    <p>From date<br><input type="text" name="from"></p>
    <p>To date<br><input type="text" name="to"></p>
    <input type="submit">
    </form>
	</p>
</div>

<div id="week">
	

</div>

<div id="month">
	<h1 align="center">Week</h1>

</div>
</div>

</body>
</html>
